/* div {
    border: 1px solid black;
} */

html, body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200px;
    font-style: normal;
    overflow: hidden;
    margin: 0;
    background-color: #fcfc76;
    color: #00008b;
}

body {
    padding: 5px 10px;
}

.header-container {
    height: calc(19vh - 20px);
    font-size: 2em;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header-container span {
    font-size: 3em;
    font-weight: bold;
}

.header-container a {
    color: #00008b;
}

.main-container {
    display: flex;
}

#songs-container {
    font-size: 5em;
    width: 80%;
    height: 79vh;
    overflow: auto;
    font-weight: bold;
}

.song {
    padding: 15px 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #00008B;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.song a {
    text-decoration: none;
    color: #fcfc76;
}

.trash-button, .edit-button {
    color: #fcfc76;
    margin-left: 20px;
}

.upload-container {
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#color-button {
    font-size: 5em;
    margin: 80px;
}

#image-input {
    display: none;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#upload {
    font-size: 4em;
    margin: 30px;
}

#upload-button {
    font-size: 10em;
    cursor: pointer;
}

.error-container {
    font-size: 2em;
    margin: 30px;
    color: red;
    font-weight: bold;
}

.fa {
    cursor: pointer;
}

.song div {
    max-width: 60%;
}

.change-name-input {
    font-size: 0.8em;
    width: 100%;
}