<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon-15 Website - Song Page</title>
    <link rel="stylesheet" href="../static/display.css">
</head>

<body>
    <h2 class="title">Song #1</h2>
    <div id="DisplayTextbox"> </div>
    <div id="AfterTextbox"></div>
    <div id="tempoTextbox"> </div>   
    <button id="playBtn" onclick="startLoop()">Play</button>
    <button id="slowDownBtn" onclick="increaseDelay()">Slow Down</button>
    <button id="speedUpBtn" onclick="decreaseDelay()">Speed Up</button>
    <button id="pauseBtn" style="display: none" onclick="pauseLoop()">Pause</button>
    <button id="continueBtn" style="display:none" onclick="continueLoop()">Continue</button>
    <button id="resetBtn" style="display:none" onclick="resetPage()">Reset</button>
    <a href="/display">Exit</a>
    <script src="../static/display.js"></script>

</body>
</html>