{% extends "base.html" %}

{% block title %}Song Title{% endblock %}

{% block head %}
    <link rel="stylesheet" href="../static/display1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
{% endblock %}

{% block content %}
    <div class="song-container">
        <div class="title-container">
            Song #1
        </div>
        <div class="speed-container">
            <span class="fa fa-plus" id="plus-button"></span>
            <span id="current-speed">5</span>
            <span class="fa fa-minus" id="minus-button"></span>
        </div>
        <div class="note-container">
            <div class="small-note" id="left-note">A</div>
            <div class="large-note" id="current-note">B</div>
            <div class="small-note" id="right-note">C</div>
        </div>
        <div class="right-container">
            <span class="fa fa-home" id="home-button"></span>
            <span class="fa fa-list" id="list-button"></span>
        </div>
        <div class="play-container">
            <span class="fa fa-backward" id="last-note"></span>
            <span class="fa fa-play" id="play"></span>
            <span class="fa fa-forward" id="next-note"></span>
        </div>
    </div>
    
    <script src="../static/song.js"></script>
{% endblock %}
