{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="../static/index.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Yomogi&display=swap');
    </style>
{% endblock %}

{% block content %}
    <div id="username-container">
        <form method="post">
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Username">

            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Password">
            
            <input type="submit" value="Register">
            {% if error %}{{ error }}{% endif %}
        </form>
    </div>
{% endblock %}